
.container {
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
 max-width: 85vw;
 margin: auto;
 border: 3px solid #777777;
 box-shadow: 0 0 2em rgba(119, 119, 119, 0.966);
 display: flex;
 overflow: hidden;


}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5vw; 
}

.contactForm {
    padding-right: 20px;
}



#contactForm input[type=text],
#contactForm input[type=email],#contactForm textarea {
     width: 100%;
 width: 70vw;
 padding: 0.625vw;
 border: 1px solid #ccc;
 border-radius: 4px;
 margin-top: 0.313vw;
 margin-bottom: 0.833vw;
 resize: vertical;
}

#contactForm input[type=submit] {
 background-color: #000000;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 
}


#contactForm input[type=submit]:hover{
 background-color: #363636;
}

.thank-you-message {
 display: none;
 text-align: center;
 font-size: 2vw;
 color: #333;
 margin-top: 1vw;
 margin-left: 10vw;
}

.contactForm {
padding-left: auto;
} 


@media screen and (max-width: 650px) {
.container {
    flex-direction: column;

}

}
